# Mongodb
MONGO_USER=root
MONGO_PASS=pass
MONGO_CHAT_DB=H2OGPT_CHATS
MONGO_ITEM_DB=H2OGPT_ITEMS
MONGO_PORT=27017
MONGO_HOST=localhost

# h2ogpt
H2OGPT_API_URL=http://localhost:7860
H2OGPT_API_KEY=test-api-keys-1234
H2OGPT_MAX_WORKERS=40
H2OGPT_AUTH_USER=test
H2OGPT_AUTH_PASS=test
H2OGPT_CHUNK_SIZE=512
H2OGPT_LANGCHAIN_MODE=UserData
H2OGPT_LANGCHAIN_ACTION=Query

# FastAPI
PROJECT_NAME=H2OGPT
DOMAIN=localhost
ENVIRONMENT=local
VERBOSE=3
RES_DIR=/tmp/h2ogpt
API_V1_PREFIX=/api/v1
BACKEND_CORS_ORIGINS=http://localhost,https://localhost
